{% extends "../nav/index.html" %}
{% load static %}

      {% block link_styles %}
      <link href="{% static 'publico/css/tableros/galeriastyles.css' %}" rel="stylesheet" />
      {% endblock %}

      {% block cuerpo %}

            
            <div id="cards2">
                <h1>Tableros</h1>
                <div class="card2">
                    <div class="grid">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    
                </div>
            </div>

      {% endblock %}
