{% extends "../nav/index.html" %}
{% load static %}

      {% block link_styles %}
      <link href="{% static 'publico/css/contacts/contactsstyles.css' %}" rel="stylesheet" />
      {% endblock %}

      {% block cuerpo %}


        <div class="mivi">
          <h1>Cotización</h1>
          <div id="cards">

              <div class="card">
                  <div class="galeria">
                    <form method="post" action="https://formsubmit.co/soporte@hgbgroup.com.mx">{% csrf_token %}
                      <input type="text" name="name" class="form-control" placeholder="Full Name" required>
                      <input type="email" name="email" class="form-control" placeholder="Email" required>
                      <input type="tel" name="telefono" class="form-control" placeholder="Phone" required>
                      <textarea name="mensaje" class="form-control" placeholder="Message" required></textarea>
                      <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                  </div>
              </div>
          </div>
        </div>

          <script src="{% static 'publico/js/home/home_scripts.js' %}"></script>
      {% endblock %}
