{% extends "../nav/index.html" %}
{% load static %}

      {% block link_styles %}
      <link href="{% static 'publico/css/home/homestyles.css' %}" rel="stylesheet" />
      <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
      {% endblock %}

      {% block cuerpo %}
         <div id="heder-cuerpo">
          <div id="elemcarrusel">
            <div id="carrprincipal">
                <div id="carouselExampleCaptions1" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        {% for i in indicators_range_carrusel1 %}
                            <button type="button" 
                                data-bs-target="#carouselExampleCaptions1" 
                                data-bs-slide-to="{{ i }}" 
                                class="{% if forloop.first %}active{% endif %}" {# <-- forloop.first asegura que el primer indicador (i=0) sea activo #}
                                aria-label="Slide {{ forloop.counter }}"> {# Usar forloop.counter para el label, ya que empieza en 1 #}
                            </button>
                        {% endfor %}
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="3000">
                            <img class="carousel-imgc1-2" src="/media-files/publico/banner principal.webp" class="d-block w-100" alt="...">
                            <div class="carousel-caption caption-left"> {# <-- AGREGADO: caption-left #}
                                <img class="imgpost" src="/media-files/publico/Logo.png">
                                <h1>ABV ELECTRIC SUPPLY</h1>
                                <p>DISTRIBUIDORES ABB <br>"illuminating innovation"</p>
                            </div>
                        </div>

                        {% for post in posts %}
                        <div class="carousel-item" data-bs-interval="3000">
                            <img class="carousel-imgc1-2" src="/media-files/{{ post.carrouselBanner_url_img }}" class="d-block w-100" alt="...">
                            <div class="carousel-caption caption-left"> {# <-- AGREGADO: caption-left para todos los posts #}
                                <img class="imgpost" src="/media-files/publico/Logo.png">
                                <h1>{{ post.carrouselBanner_name }}</h1>
                                <p>{{ post.carrouselBanner_descripcion }}</p>
                            </div>
                        </div>
                        {% endfor %}

                        {% for cate in categorias %}
                        <div class="carousel-item" data-bs-interval="3000">
                            <img class="carousel-imgc1" src="/media-files/{{ cate.categoria_url_img }}" class="d-block w-100" alt="...">
                            <div class="carousel-caption caption-right INF"> {# <-- AGREGADO: caption-right para todas las categorías #}
                                <h1 >{{ cate.categoria_name }}</h1>
                                <p>{{ cate.carrouselBanner_descripcion }}</p>
                                <a href="{% url 'products' %}categoria/{{ cate.categoria_name }}" class="btn btn-dark">
                                        Ver productos
                                    </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>            
        </div>

        <div class="announcement-bar">
          <div class="announcements-wrapper">
            {% for marca in marcas %}
                <a href="{% url 'products' %}marca/{{ marca.marca_name }}"><img src="/media-files/{{ marca.marca_url_img.name }}" alt="ABB Logo"></a>
            {% endfor %}
            {% for marca in marcas %}
                <a href="{% url 'products' %}marca/{{ marca.marca_name }}"><img src="/media-files/{{ marca.marca_url_img.name }}" alt="ABB Logo"></a>
            {% endfor %}
            {% for marca in marcas %}
                <a href="{% url 'products' %}marca/{{ marca.marca_name }}"><img src="/media-files/{{ marca.marca_url_img.name }}" alt="ABB Logo"></a>
            {% endfor %}
            {% for marca in marcas %}
                <a href="{% url 'products' %}marca/{{ marca.marca_name }}"><img src="/media-files/{{ marca.marca_url_img.name }}" alt="ABB Logo"></a>
            {% endfor %}
            {% for marca in marcas %}
                <a href="{% url 'products' %}marca/{{ marca.marca_name }}"><img src="/media-files/{{ marca.marca_url_img.name }}" alt="ABB Logo"></a>
            {% endfor %}
            {% for marca in marcas %}
                <a href="{% url 'products' %}marca/{{ marca.marca_name }}"><img src="/media-files/{{ marca.marca_url_img.name }}" alt="ABB Logo"></a>
            {% endfor %}
            {% for marca in marcas %}
                <a href="{% url 'products' %}marca/{{ marca.marca_name }}"><img src="/media-files/{{ marca.marca_url_img.name }}" alt="ABB Logo"></a>
            {% endfor %}
            {% for marca in marcas %}
                <a href="{% url 'products' %}marca/{{ marca.marca_name }}"><img src="/media-files/{{ marca.marca_url_img.name }}" alt="ABB Logo"></a>
            {% endfor %}
            {% for marca in marcas %}
                <a href="{% url 'products' %}marca/{{ marca.marca_name }}"><img src="/media-files/{{ marca.marca_url_img.name }}" alt="ABB Logo"></a>
            {% endfor %}
            {% for marca in marcas %}
                <a href="{% url 'products' %}marca/{{ marca.marca_name }}"><img src="/media-files/{{ marca.marca_url_img.name }}" alt="ABB Logo"></a>
            {% endfor %}
          </div>
        </div>
        <!--
        <div class="mivi">
            <h1>Nuestros Servicios</h1>
            <div id="cards">
                <div class="card">
                    <div class="imagencont">
                        <img src="/media-files/Imagenes_Marca/abb_Ifcu480.png" class="imgcards" alt="Imagen de {{ servicio.servicio_nombre }}">
                    </div>
                    <div class="textcardcont">
                      <h3>{{ servicio.servicio_nombre }}</h3>
                      <p>{{ servicio.servicio_descripcion|truncatewords:30 }}</p>
                    </div>
                    <div class="textcardcont">
                      <h3>{{ servicio.servicio_nombre }}</h3>
                      <p>{{ servicio.servicio_descripcion|truncatewords:30 }}</p>
                    </div>
                    <div class="imagencont">
                        <img src="{{ servicio.servicio_imagen.url }}" class="imgcards" alt="Imagen de {{ servicio.servicio_nombre }}">
                    </div>
                </div>
                <div class="card">
                    <div class="textcardcont">
                      <h3>{{ servicio.servicio_nombre }}</h3>
                      <p>{{ servicio.servicio_descripcion|truncatewords:30 }}</p>
                    </div>
                    <div class="imagencont">
                        <img src="/media-files/Imagenes_Marca/abb_Ifcu480.png" class="imgcards" alt="Imagen de {{ servicio.servicio_nombre }}">
                    </div>
                </div>
            </div>
          </div>
        -->
        <div class="mivi">
            {# Iterar sobre marcas y luego sobre las categorías asociadas a CADA marca #}
             {% for marca_obj in marcas %}
                 {# Solo renderiza la sección si la marca tiene categorías asociadas #}
                 {% if marca_obj.categorias_asociadas.all %}
                     <h1>Categorías de {{ marca_obj.marca_name }}</h1>
                     <div id="cards">
                         <div class="card">
                             <div class="galeria2">
                                 {# Limitar a 7 categorías por marca #}
                                 {% for categoria_asociada in marca_obj.categorias_asociadas.all|slice:":7" %}
                                     <div class="contcate">
                                         <a class="cateenlace" href="{% url 'products' %}categoria/{{ categoria_asociada.categoria_name }}">
                                             <div class="imgcateg">
                                                 <img  src="/media-files/{{ categoria_asociada.categoria_url_img }}" class="d-block w-100">
                                             </div>
                                             <span>{{ categoria_asociada.categoria_name }}</span>
                                         </a>
                                     </div>
                                 {% endfor %}
                                 {# Si hay más de 7 categorías, mostrar un enlace "Ver más" #}
                                 {% if marca_obj.categorias_asociadas.count > 7 %}
                                     <div class="contcate">
                                                     <a class="cateenlace" href="{% url 'products' %}marca/{{ marca_obj.marca_name }}">
                                                         <div class="imgcateg">
                                                             <img src="/media-files/publico/mas.png">
                                                         </div>
                                                         <span>Ver más categorías de {{ marca_obj.marca_name }}</span>
                                                     </a>
                                                 </div>
                                 {% endif %}
                             </div>
                         </div>
                     </div>
                     
                 {% endif %} {# Fin de la condición para mostrar la sección de marca #}
             {% endfor %}
            <!--<div class="store-container">

               Filtro de categorías debajo del buscador, solo texto 
              <div class="category-row">
              {% for categoria in categorias %}
                <label>
                  <input type="checkbox" name="categoria" value="{{ categoria.id }}">
                  <span>{{ categoria.categoria_name }}</span>
                </label>
              {% empty %}
                <span>No hay categorías disponibles</span>
              {% endfor %}
            </div>

              <div class="store-layout">
                <!-- Productos -->
              </div>

              
            
            <!--</div>-->
          </div>
            

            <div class="mivi">
                <h1>Proyectos Destacados</h1>
                <div id="carruS">
                    <div class="swiper mySwiper-productos">
                      <div class="swiper-wrapper">
                        
                        {% for destacado in indicators_range_carrusel4 %}
                          {% if destacado > 0 %}
                            <div class="swiper-slide">
                              <img class="carousel-imgc2" src="/media-files//Imagenes_Carrusel_Integracion/carruselintegracion ({{ destacado }}).jpg" alt="...">
                              <div class="carousel-caption caption-left INF">
                                <h1>{{ destacado.producto.producto_extendido }}</h1>
                                </div>
                            </div>
                          {% endif %}
                        {% endfor %}
                        
                      </div>

                      <div class="swiper-button-next"></div>
                      <div class="swiper-button-prev"></div>

                      <div class="swiper-pagination"></div>

                    </div>
                </div>
            </div>

        <div class="mivi">
            
            <div id="cards2">
                <h1>Acerca de Nosostros</h1>
                <div class="card2">

                    <div class="imagencont">
                      <video controls autoplay muted loop playsinline class="video-responsive">
                        <source src="/media-files/publico/abv.mp4" type="video/mp4">
                          Tu navegador no soporta la etiqueta de video.
                      </video>
                    </div>
                    <div class="textcardcont">
                      <img id="aboutimg" src="/media-files/publico/Logo.png" class="imgcards" alt="...">
                        <h3 id="aboutT" class="card-title">ABV Electric Supply</h3>
                      <div class="card-body">

                        <p class="card-text">Con sede en Morelia, Michoacán, ABV Electric Supply es un proveedor de confianza en material y equipo eléctrico, con especialidad en la distribución de productos ABB. Nuestra misión es brindar un servicio especializado que abarca desde la asesoría hasta la solución integral de sus necesidades de iluminación y suministro eléctrico, asegurando eficiencia y sostenibilidad. Nuestra visión se enfoca en impulsar la adopción de energías renovables a través de tecnología y materiales innovadores, buscando mejorar la calidad de vida de nuestros clientes con soluciones energéticas de vanguardia para un futuro más eficiente y responsable.</p>
                      </div>
                    </div>
                </div>
            </div>
          </div>

          <div class="mivi">
            <h1>Nuestros Servicios</h1>
            <div id="cards">
              {% for servicio in servicios %}
                <div class="card">
                  {% if forloop.counter0|divisibleby:"2" %}
                    <div class="imagencont">
                      {% if servicio.servicio_imagen %}
                        <img src="{{ servicio.servicio_imagen.url }}" class="imgcards" alt="Imagen de {{ servicio.servicio_nombre }}">
                      {% endif %}
                    </div>
                    <div class="textcardcont">
                      <h3>{{ servicio.servicio_nombre }}</h3>
                      <p>{{ servicio.servicio_descripcion|truncatewords:30 }}</p>
                    </div>
                  {% else %}
                    <div class="textcardcont">
                      <h3>{{ servicio.servicio_nombre }}</h3>
                      <p>{{ servicio.servicio_descripcion|truncatewords:30 }}</p>
                    </div>
                    <div class="imagencont">
                      {% if servicio.servicio_imagen %}
                        <img src="{{ servicio.servicio_imagen.url }}" class="imgcards" alt="Imagen de {{ servicio.servicio_nombre }}">
                      {% endif %}
                    </div>
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          </div>

        

          <script src="{% static 'publico/js/home/home_scripts.js' %}"></script>
          <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
          
          <script>
          var swiperProductos = new Swiper('.mySwiper-productos', {
            // Agrega el módulo Autoplay
            autoplay: {
              delay: 2500, // Tiempo en milisegundos entre cada slide (2.5 segundos)
              disableOnInteraction: false, // El carrusel no se detiene si el usuario interactúa con él
            },
            // Configuración para el efecto de carrusel tipo 'portada'
            effect: 'coverflow',
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: 3, // Muestra 3 diapositivas a la vez
            loop: true, // Carrusel infinito
            spaceBetween: 30,
            coverflowEffect: {
              rotate: 50,
              stretch: 0,
              depth: 100,
              modifier: 1,
              slideShadows: true,
            },
            pagination: {
              el: '.swiper-pagination',
              clickable: true,
            },
            navigation: {
              nextEl: '.swiper-button-next',
              prevEl: '.swiper-button-prev',
            },
          });
        </script>
      {% endblock %}
